@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  string? stUsuario = (string?)ViewData["Usuario"];
}
<div style="padding: 20px">
  @stUsuario
</div>
